:root {
    --line-height: 1rem;
    --padding: 1rem;
    --orange-1: #ff6a00;
    --orange-2: #ff9c55;
    --orange-3: #fad5ba;
    --grey-1: #b3b3b3;
    --link: blue;
}

body {
    margin: 0;
    margin-top: calc(var(--padding) * 2 + var(--line-height));
    padding: 0;
    line-height: var(--line-height);
    font-family: sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    height: calc(var(--padding) * 2 + var(--line-height));
    width: 100%;
    background-color: var(--orange-1);
    border-bottom: var(--padding) solid white;
    z-index: 99999;
}
    .nav > .left > a, .nav > .left > span, .nav > .right > a {
        display: inline-block;
        padding: var(--padding);
        line-height: var(--line-height);
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .nav > .left > a.active {
        background-color: var(--orange-2);
    }
    .nav > .left > input {
        border: 0;
        outline: 0;
        font-size: 1rem;
        width: 8rem;
        margin-left: var(--padding);
    }

    .nav > .right {
        float: right;
        padding-right: var(--padding);
        font-family: monospace;
    }
        .nav > .right > a {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }

.content {
    --thead-top: calc(var(--padding) * 3 + var(--line-height));
    --thead-height: calc(var(--padding) + var(--line-height));
    font-family: 'Courier New', Courier, monospace;
    padding: var(--padding);
    height: calc(100vh - var(--thead-top) - var(--thead-height) + var(--padding));
}
    .content > table > thead > tr.sticky > th {
        position: sticky;
        top: var(--thead-top);
        height: var(--thead-height);
        background-color: var(--orange-2);
        z-index: 2;
        padding: .25rem;
        text-align: left;
        font-family: sans-serif;
    }
        .content > table > thead > tr.sticky > th.check {
            background-color: transparent;
        }
    .content > table > tbody > tr.inactive {
        color: var(--grey-1);
    }
    .content > table > tbody > tr.select {
        background-color: var(--orange-3);
    }
        .content > table > tbody > tr > td {
            padding: .25rem;
        }
            .content > table > tbody > tr > td > a {
                color: var(--link);
                text-decoration: none;
            }
            .content > table > tbody > tr > td > a:active {
                color: var(--link);
            }
            .content > table > tbody > tr > td > a:visited {
                color: var(--link);
            }
    .content > table.logs {
        border-collapse: collapse;
    }
    .content > table.logs > tr > td:first-child {
        white-space: nowrap;
        font-size: 0.5rem;
        padding-right: 1rem;
    }
    .content > table.logs > tr > td:nth-child(2) {
        word-break: break-all;
    }
    .content > table.logs > tr > td:nth-child(2).red {
        color: red;
    }

    .content > .inspect > section {
        font-family: inherit;
        font-size: inherit;
        height: auto;
        overflow: auto !important;
        overflow-x: hidden !important;
        width: auto;
    }
