:root {
    --line-height: 1rem;
    --padding: 1rem;
    --orange-1: #ff6a00;
    --orange-2: #ff9c55;
    --orange-3: #fad5ba;
    --grey-1: #b3b3b3;
}

body {
    margin: 0;
    margin-top: calc(var(--padding) * 2 + var(--line-height));
    padding: 0;
    line-height: var(--line-height);
    font-family: 'Courier New', Courier, monospace;
}

.nav {
    position: fixed;
    top: 0;
    height: calc(var(--padding) * 2 + var(--line-height));
    width: 100%;
    background-color: var(--orange-1);
    border-bottom: var(--padding) solid white;
}
    .nav a {
        display: inline-block;
        padding: var(--padding);
        line-height: var(--line-height);
        text-decoration: none;
        color: white;
    }
    .nav > a.active {
        background-color: var(--orange-2);
    }
    .nav > .right {
        float: right;
        padding-right: var(--padding);
        font-family: monospace;
    }
        .nav > .right > a {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

.content {
    padding: var(--padding);
    /* padding-top: 0; */
}
    .content > table > thead > tr.sticky > th {
        position: sticky;
        top: calc(var(--padding) * 3 + var(--line-height));
        height: calc(var(--padding) + var(--line-height));
        background-color: var(--orange-2);
        z-index: 2;
        padding: .25rem;
        text-align: left;
    }
        .content > table > thead > tr.sticky > th.check {
            background-color: transparent;
        }
    .content > table > tbody > tr.stop {
        color: var(--grey-1);
    }
    .content > table > tbody > tr.select {
        background-color: var(--orange-3);
    }
        .content > table > tbody > tr > td {
            padding: .25rem;
        }
