# also check .gitignore

.angular
.github
.vscode
artifacts
!artifacts/runtime
bin
certs
dist
node_modules
test-results

.env
.dockerignore
.editorconfig
.gitattributes
.gitignore
[Dd]ocker*
run
*.md
