# also check .gitignore

**/.angular
**/.github
**/.vscode
**/artifacts
!**/artifacts/runtime/index.cjs
!**/artifacts/runtime/client
**/bin
**/dist
**/node_modules
**/test-results

**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.gitignore
**/dockerfile
**/docker-compose*
**/*.md
