<div class="nav">
    <span class="left" *ngIf="!(['inspect', 'logs'].includes(view))">
        <a href="#" (click)="view = 'images'" [ngClass]="{ active: view === 'images' }">Images ({{(data.images ||
            []).length}})</a>
        <a href="#" (click)="view = 'containers'" [ngClass]="{ active: view === 'containers' }">Containers
            ({{(data.containers || []).length}})</a>
        <a href="#" (click)="view = 'volumes'" [ngClass]="{ active: view === 'volumes' }">Volumes ({{(data.volumes ||
            []).length}})</a>
        <a href="#" (click)="view = 'networks'" [ngClass]="{ active: view === 'networks' }">Networks ({{(data.networks
            || []).length}})</a>
        <input type="text" placeholder="filter" id="filter" autofocus [(ngModel)]="filter.value"
            (ngModelChange)="updateFilter()">
    </span>
    <span class="right" *ngIf="selected.items.length">
        <a href="#" *ngIf="selected.items.length === 1" (click)="inspect()" title="inspect">
            <svg-icon src="assets/inspect.svg"></svg-icon>
        </a>
        <a href="#" *ngIf="view === 'containers' && selected.items.length === 1" (click)="logs()" title="logs">
            <svg-icon src="assets/logs.svg"></svg-icon>
        </a>
        <a href="#" *ngIf="view === 'containers'" (click)="start()" title="start">
            <svg-icon src="assets/start.svg"></svg-icon>
        </a>
        <a href="#" *ngIf="view === 'containers'" (click)="stop()" title="stop">
            <svg-icon src="assets/stop.svg"></svg-icon>
        </a>
        <a href="#" *ngIf="['images', 'containers', 'volumes', 'networks'].includes(view)" (click)="remove()"
            title="remove">
            <svg-icon src="assets/x.svg"></svg-icon>
        </a>
    </span>

    <span class="left" *ngIf="['inspect', 'logs'].includes(view)">
        <span>{{view}}: {{selected.previous}}</span>
    </span>
    <span class="right" *ngIf="['inspect', 'logs'].includes(view)">
        <a href="#" (click)="closeDetails()" title="close">
            <svg-icon src="assets/x.svg"></svg-icon>
        </a>
    </span>
</div>

<div class="content" (click)="unselect($event)">

    <table *ngIf="view === 'images'" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="sticky">
                <!-- <th>ID</th> -->
                <th>REPOSITORY</th>
                <th>TAG</th>
                <th>SIZE</th>
                <th>CREATED</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let image of data.images; let row = index;" [ngClass]="{
                inactive: image.REPOSITORY === '<none>' && image.TAG === '<none>',
                select: selected.items.includes(image.ID)
            }" (click)="select(row, $event)">
                <!-- <td>{{image.ID}}</td> -->
                <td>{{image.REPOSITORY}}</td>
                <td>{{image.TAG}}</td>
                <td>{{image.SIZE}}</td>
                <td>{{image.CREATED}}</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="view === 'containers'" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="sticky">
                <!-- <th>ID</th> -->
                <th>IMAGE</th>
                <th>NAME</th>
                <th>PORTS</th>
                <th>SIZE</th>
                <!-- <th>COMMAND</th> -->
                <th>STATUS</th>
                <th>CREATED</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let container of data.containers; let row = index;" [ngClass]="{
                    inactive: !container.UP,
                    select: selected.items.includes(container.ID)
                 }" (click)="select(row, $event)">
                <!-- <td>{{container.ID}}</td> -->
                <td>{{container.IMAGE}}</td>
                <td>{{container.NAMES}}</td>
                <td><span *ngFor="let port of container.PORTS; let i = index">
                    <a [href]="link(port)" target="_blank" rel="noopener">{{port}}</a>{{i < container.PORTS.length - 1 ? ", " : ""}}</span></td>
                <td>{{container.SIZE}}</td>
                <!-- <td>{{container.COMMAND}}</td> -->
                <td>{{container.STATUS}}</td>
                <td>{{container.CREATED}}</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="view === 'volumes'" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="sticky">
                <th>NAME</th>
                <th>DRIVER</th>
                <th>SIZE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let volume of data.volumes; let row = index;"
                [ngClass]="{ select: selected.items.includes(volume.NAME) }" (click)="select(row, $event)">
                <td>{{volume.NAME}}</td>
                <td>{{volume.DRIVER}}</td>
                <td>{{volume.SIZE}}</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="view === 'networks'" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="sticky">
                <!-- <th>ID</th> -->
                <th>NAME</th>
                <th>DRIVER</th>
                <!-- <th>SCOPE</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let network of data.networks; let row = index;"
                [ngClass]="{ select: selected.items.includes(network.ID) }" (click)="select(row, $event)">
                <!-- <td>{{network.ID}}</td> -->
                <td>{{network.NAME}}</td>
                <td>{{network.DRIVER}}</td>
                <!-- <td>{{network.SCOPE}}</td> -->
            </tr>
        </tbody>
    </table>

    <ngx-json-viewer *ngIf="view === 'inspect' && data.inspect" [json]="data.inspect" [expanded]="false"
        class="inspect">
    </ngx-json-viewer>

    <table *ngIf="view === 'logs' && data.logs" class="logs">
        <tr *ngFor="let entry of data.logs">
            <td>{{entry.dt}}</td>
            <td [ngClass]="{ red: entry.err }">{{entry.log.replaceAll(" ", "&#160;")}}</td>
        </tr>
        <tr>
            <td colspan="2" id="logend"></td>
        </tr>
    </table>

</div>
